/*
* Sara Brisiel 
* Due Date 
* Project Name and Description 
*/

* {
} 
/* used color picker for background color */ 
body { 
} 
header {background-color:#ff6666 }
body {background-color:  #ffe6e6}
#GirlswithLaptops {float: right;}

#typing {float:right;}
a:hover,a:focus{
    color:hotpink;
    font-size:300%;
}
h1{font-family:cursive;}
h2{font-family:cursive;}
main {font-family:sans-serif;}
footer {font-family:serif;}